:root {
    --text: #000;
    --bg: #fff;
  }
  
  body {
    font-family: "interstate", sans-serif;
    background-color: var(--bg);
    color: var(--text);
  }
  
  a {
    color: darkgreen;
  }
  
  a:link {
    text-decoration: none;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --text: #fff;
      --bg: #000;
    }
  }
  
  li {
    margin-left: 5px;
    margin-bottom: 15px;
  }
  
  .center {
    border: none;
    margin: auto;
    padding: 10px;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
  }
  
  .welcome {
    font-family: "gelato-luxe", sans-serif;
    font-weight: 400;
    font-size: 100px;
  }
  
  #menu {
    padding-top: 40px;
  }
  
  .menuitem {
    padding-left: 20px;
    padding-right: 20px;
  }

  #hero {
    border:#111;
    border-width: .5px;
    box-sizing: border-box;
    width: 100%;
    padding: 50px;
  }

 #hero-image {
    width: 100%;
    object-fit: scale-down;
  }